Adobe/             
bubble/         
kingsoft/      
Microsoft/    
Tencent/
baidu/             
Code/           
kso/           
NVIDIA/       
TortoiseSVN/
BaiduYunGuanjia/  
IQIYI Video   
Macromedia/    
office6/      
wps/
BaiduYunKernel/    
JetBrains/      
Maintenance/   
Subversion/
.backups